@import "font-awesome/font-awesome.less";

@lighter: #F5ECBB;
@light: #D7D49A;
@blue: #7D9F85;
@dark: #4E5E5B;
@darker: #38272A;

html, body {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	overflow: hidden;
}

body {
	font-family: "Roboto", sans-serif;

	background-color: @darker;
	color: @lighter;
}

.cleaner {
	clear: both;
}

.grapher {
	width: 100%;
	height: 100%;

	.function-view {
		font-size: 14pt;
		margin-left: 1.7em;
		padding: 5px 5px;
		@idSize: 1.5em;

		margin-bottom: 0.5em;

		.function-id {
			width: @idSize;
			height: @idSize;

			line-height: @idSize;
			text-align: center;

			border-radius: 5px;

			background-color: @dark;

			float: left;
		}

		.function-text {
			margin-left: @idSize + 1em;
			// height: 100%;
			// float: left;
			.function-edit {
				display: block;
				margin-left: 1.6em;
				margin-right: 3em;
				white-space: nowrap;
				overflow: hidden;
				br {
					display:none;
				}
				// width: 100%;
			}
			.y-equals {
				float: left;
			}
		}

		.function-menu {
			float: right;
			text-align: right;
			width: 4em;
			a {
				color: @lighter;
			}
		}

		.scrollable-number {
			// min-width: 1em;
			padding: 0 0.4em;
			display: inline-block;
			background-color: @dark;
			color: @lighter;
			text-align: center;
			border-radius: 5px;
		}

		&.function-add {
			background-color: @lighter;
			color: @darker;

			border-radius: 2px;
			margin-top: 1em;

			.function-id {
				color: @lighter;
			}
			.function-menu {
				width: 1em;
			}
		}
	}

	.menu {
		position: absolute;
		top: 0;
		min-width: 25%;
		height: 100%;

		&.left {
			left: 0;
		}

		&.right {
			right: 0;

			background-color: rgba(0, 0, 0, 0.4)
		}
	}

	.statusbar {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 2em;
		line-height: 2em;
		text-align: center;
	}
}