<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Wolf grapher</title>
	<meta name="description" content="Aplikace pro hledání a prozkoumávání funkcí">
	<meta name="author" content="Jirka Balhar">

	<!-- css -->
	<!-- <link rel="stylesheet" href="css/style.css"> -->
	<link rel="stylesheet/less" type="text/css" href="css/style.less">
	<link rel="stylesheet" href="libs/colpick/css/colpick.css">

	<!-- libs -->
	<script src="libs/jquery-2.1.1.min.js"></script>
	<script src="libs/colpick/js/colpick.js"></script>
	<script src="libs/underscore.min.js"></script>
	<script src="libs/backbone.min.js"></script>
	<script src="libs/less-1.7.4.min.js"></script>
	<script src="libs/math-parser.js"></script>
	<script src="js/utils.js"></script>
</head>
<body>
	<div class="grapher">
		<canvas class="viewport"></canvas>
		<div class="left menu">
			<div class="function-add function-view">
				<div class="function-id">f0</div>
				<div class="function-menu">
					<i class="fa fa-chevron-right"></i>
				</div>
				<div class="function-text">
					<span class="y-equals">y = </span>
					<div class="function-edit" contenteditable></div>
				</div>
				<div class="cleaner"></div>
			</div>
			<div class="function-list">
				<!-- dynamický seznam přidaných funkcí -->
			</div>
		</div>
		<div class="right menu">
			<div class="parameters">
				<h2>parametry</h2>
				<div class="parameters-edit" contenteditable>a=1</div>
			</div>
		</div>
		<div class="statusbar">
			&copy; Jirka Balhar
		</div>
	</div>
	<script type="text/template" id="function-view-template">
		<div class="function-view">
			<div class="function-id" style="background-color: <%= color%>;">f</div>
			<div class="function-menu">
				<a href="#" class="menu-roll"><i class="fa fa-caret-square-o-down"></i></a>
				<% if (visible) { %>
					<a href="#" class="toggle-visibility"><i class="fa fa-eye"></i></a>
				<% } else { %>
					<a href="#" class="toggle-visibility"><i class="fa fa-eye-slash disabled"></i></a>
				<% } %>
				<% if (eval) { %>
					<a href="#" class="toggle-eval"><i class="fa fa-cogs"></i></a>
				<% } else { %>
					<a href="#" class="toggle-eval"><i class="fa fa-cogs disabled"></i></a>
				<% } %>
				<a href="#" class="remove"><i class="fa fa-remove"></i></a>
			</div>
			<div class="function-text">
				<span class="y-equals">y = </span>
				<span class="function-edit" contenteditable><%= fancyString%></span>
			</div>
			<div class="cleaner"></div>
		</div>
	</script>

	<script src="js/vector.js"></script>
	<script src="js/camera.js"></script>
	<script src="js/formula.js"></script>
	<script src="js/formulaView.js"></script>
	<script src="js/formulas.js"></script>
	<script src="js/formulasView.js"></script>
	<script src="js/parameters.js"></script>
	<script src="js/parametersView.js"></script>
	<script src="js/grapher.js"></script>
	<script src="js/grapherView.js"></script>
	<script src="js/inputView.js"></script>
	<script src="js/init.js"></script>
</body>
</html>